# dependencies

back/node_modules
front/node_modules
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
Back/data

# misc
.DS_Store
front/.env
back/config.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
