<h1>Bienvenue sur WeatherApp</h1>

<h2>Une application simple pour vous donner la météo n'importe quand, n'importe où pour n'importe quelle ville</h2>

<p>Nous avons le plaisir de vous annoncer que compte est désormais activé. </p>
<p>Vous pouvez maintenant rechercher une météo, sauvegarder jusqu'a 3 météo en favoris, et choisir votre météo par défaut !</p>

<p>L'équipe WeatherApp</p>

<p>veuillez ne as répondre a cette email, si toutefois vous avez des questions vous pouvez nous les poser a support@weatherapp.com </p>